{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css"
     href="{% static '/css/maiin.css' %}">
</head>
<body id="ks" style="background-image: url('{% static '81f140121e6af94e6dff5ecfa3882868.jpg' %}');">
    
        <h1>THIS SITE GIVES SOLUTIONS FOR ALL OF YOUR PROBLEMS</h1>
        <h2><i>PROBLEMS the general thing we all face in our day to day lives
            but some of us may overcome them eaisily, some be struck with them.
            There is a popular law in Science 'Efficiency can never be cent percent '
            it's applicable for us too. Life is neither a bed of Roses
            nor a dark forest of thorns entirely. Remember ' Change never changes ' in other words
            change is permanent so have the Hope and believe that Positivity will sneak into
            your life. </i><br><span id="hyu"><center>WE PROVIDE QUALITY ADVICE HERE FOR ALL YOUR PROBLEMS.</center>
            </span>           
         </h2>
        <h3><a href="/titles">click to continue</a></h3>
</body>


</html>