#discid{
    
    color:black;
    font-size: x-large;
    font-weight: bold;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}
h3{
    color:black;
    font-weight: 700;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: left;
    font-weight: 450;
}
#btn{
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}
#forcidd{
    color:antiquewhite;
    text-align: center;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}
#loj{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}
h3{
    font-weight: 450;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}
#uhg{
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}