#forciddu{
    color:white;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}
#llm{
    color:black;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 450;
}
#fgm{
    color:black;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 450;
}
#ytr{
    color:black;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 450;
}
#tyh{
    color:black;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 450;
}
#discid{
    color:black;
    font-size: x-large;
    font-weight: bold;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}
#btn{
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    color:black;
}
#uh{
    color:black;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 450;
}

#llk{
    color:black;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 450;
}
#tth{
    color:black;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 450;
}
#loj{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}
#uhg{
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    
}
h3{
    font-weight: 450;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}