#discid{
   
    color:black;
    font-size: x-large;
    font-weight: bold;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    
}
#btn{
   
    color:black;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}
h1{
    color:black;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 450;
}
#ob{
    
    color:black;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 450;
}
#oop{
    color:black;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 450;
}
#lj{
    color:black;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 450;
}
#loj{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}
#uhg{
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}