#yhg{
    color:black;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 450;
}
#lok{
    color:black;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 450;
}
#hyu{
    color:black;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 450;
}
#tyre{
    color:black;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 450;
}
#loj{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}
#uhg{
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}
h3{
    margin-left: 3%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%; 
}